
body{
    font-family: 'Courier New', Courier, monospace;   
    margin: 0px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
div{
    margin-top: 0px;
}
html{
    margin-top: 0px;
}
article{
    margin-top: 0px;
}
#box-fields{
    margin-top: 0px;

background-color:  rgb(230, 230, 230); ;
}



@media (min-width:50px)  { 
    body, html { 
        overflow-x: hidden; 
        overflow-y: auto;
    }
    body{
        font-size: 2vh;
        
    }
    h1,h2{
        font-size: 2.2vh;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .column2{
        display: flex;
        flex-direction: column;
    }
    #header{
        flex-direction: row;
    }
    .dropdown{
        font-size: 2.5vh;
        width: 90vw;
        margin-bottom: 10px;
        margin-left: 5px;
        height: 3vh;
    }

    #header{
        height: 3vh;
    }
    #image{
        height: 100%;
        width: max-content;
    }
    div{
        margin-top: 0px;
    }
 }



@media (min-width:1000px)  { 
    p{
        font-size: 2vw;
        
    }
    body{
        font-size: 3vh;
    }
      article{
        flex-direction: column;
      }
      .column2{
        display: flex;
        flex-direction: row;
    }
    #box-fields{
        background-color: rgb(230, 230, 230); 
        border-radius: 2px;
        height: auto;
        width: 100vw;
        z-index: 10;
        padding-bottom: 10px;
    }
    .dropdown{
        width: 45vw;
        margin-left: 20px;
        margin-bottom: 0px;
        margin-top: 10px;
        padding: 0px;
        font-size: 20px;
    }
    #image{
        margin-top: 5px;
        height: 100%;
        width: auto;      
        margin:0px 10px;
    }
    div{
        margin:0px;
    }
    h1,h2{
        margin: 0px;
        margin-left: 10px;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    
    #header{
        height: 3.5vw;
        justify-content:left;
    }
 }



@media (min-width:1281px) { 

div{
    margin: 0px;
}
h1{
    margin-left: 10px;
    font-weight: bold;
}
h2{
    /* margin: 5px; */
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 1.2rem;
    font-weight: normal;
}

article{
    display: flex;
    flex-direction: row;
}

.column2{
    display: flex;
    flex-direction: column;
}
.dropdown{
    width: 90%;
    margin-left: 5%;
    margin-right: 0px;
    margin-top: 10px;
    font-size: 15px;
}

#box-fields{
    background-color: rgb(230, 230, 230); 
    border-radius: 2px;
    width: 400px;
    height: 100vh;
    z-index: 10;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

#cytoscape{
    width: 100vw;
}

p{
    margin-left: 10px;
}



}


